/* 例: 基本的なスタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input {
  padding: 10px;
  margin-right: 10px;
}

ul {
  list-style-type: none; /* リストマーカー（・）を非表示にする */
  padding: 0; /* デフォルトのパディングを削除 */
}

.book-item {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff3d3de;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-item img {
  max-width: 120px;
  margin-top: 10px;
}

.book-item + .book-item {
  margin-top: 20px;
}


/* スクロールトップボタン*/
.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none; /* 初期状態で非表示 */
}

.scroll-top-btn.show {
  display: block; /* showクラスが追加されると表示される */
}

/* ページネーションのスタイル */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.pagination-button {
  padding: 10px 15px;
  font-size: 14px;
  margin: 0 10px; /* ボタン間の間隔 */
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #0c97f3;
  transition: background-color 0.3s ease;
}

.pagination-button:hover:not(:disabled) {
  background-color: #0c97f3;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-info {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
